<!DOCTYPE html>
<html ng-app="BookShare">
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/lib/bootstrap.min.css' />
<script src="/javascripts/lib/jquery-3.1.0.slim.min.js"></script>
<script src="/javascripts/lib/angular.min.js"></script>
<script src="/javascripts/lib/ui-bootstrap-2.1.1.min.js"></script>
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/dest/app.min.js"></script>
<!--<script src="/javascripts/dest/app.js"></script>-->
</head>
<body ng-controller="MainCtrl">