<form class="form-horizontal" id="m_confirm" name="m_confirm" method="post" action="/confirm/manual" ng-show="manual_flg" novalidate>
    <label for="m_isbn" class="control-label">ISBN</label>
    <input type="text" class="form-control" id="m_isbn" name="m_isbn" ng-model="m_isbn" ng-change="change_isbn()" ng-pattern="/^[0-9-]*$/" ng-minlength="13" required />
    <p ng-show="m_confirm.m_isbn.$error.required">入力必須です。</p>
    <p ng-show="m_confirm.m_isbn.$error.pattern">ISBNは、半角数字または半角ハイフン(-)のみにしてください。</p>
    <p ng-show="m_confirm.m_isbn.$error.minlength">ISBNは、半角数字13桁にしてください。（半角ハイフン(-)は数えません。）</p>
    <p ng-show="check_max_isbn()">ISBNは、半角数字13桁にしてください。</p>
    <label for="m_title" class="control-label">書籍名</label>
    <input type="text" class="form-control" id="m_title" name="m_title" ng-model="m_title" maxlength="100" required />
    <p ng-show="m_confirm.m_title.$error.required">入力必須です。</p>
    <label for="m_author" class="control-label">著者</label>
    <input type="text" class="form-control" id="m_author" name="m_author" maxlength="20" />
    <label for="m_publisherName" class="control-label">出版社</label>
    <input type="text" class="form-control" id="m_publisherName" name="m_publisherName" maxlength="50" />
    <label for="m_salesDate" class="control-label">発売日</label>
    <input type="text" class="form-control" id="m_salesDate" name="m_salesDate" maxlength="20" />
    <label for="m_itemPrice" class="control-label">価格</label>
    <input type="text" class="form-control" id="m_itemPrice" name="m_itemPrice" ng-model="m_itemPrice" ng-pattern="/^[0-9]*$/" maxlength="6" />
    <p ng-show="m_confirm.m_itemPrice.$error.pattern">価格は、半角数字のみにしてください。</p>
    <label for="m_open" class="control-label">閲覧モード</label>
    <input type="radio" id="m_open" name="m_mode" value="0" checked/>
    <label for="m_open" class="control-label">共有</label>
    <input type="radio" id="m_private" name="m_mode" value="1" />
    <label for="m_private" class="control-label">プライベート</label>
    <br>
    <label for="m_count" class="control-label">本の冊数</label>
    <input type="text" class="form-control" id="m_count" name="m_count" ng-model="m_count" min="0" maxlength="3" ng-pattern="/^[0-9]*$/" required />
    <p ng-show="m_confirm.m_count.$error.required">入力必須です。</p>
    <p ng-show="m_confirm.m_count.$error.pattern">本の冊数は、半角数字のみにしてください。</p>
    <label for="m_remark" class="control-label">本の備考</label>
    <textarea class="form-control" id="m_remark" name="m_remark" maxlength="200"></textarea>
    <input type="hidden" id="m_flg" name="m_flg" value="manual" />
    <button class="btn btn-info" id="m_confirm_btn" ng-disabled="m_confirm.$invalid || check_max_isbn()">登録確認</button>
</form>